# ln -s $PWD/.gitignore ~/.gitignore
# Folders
tmp/
coverage/
.task/
.vscode/

# Files
.env*
!.env.sample
Taskfile.yaml
Taskfile*.yaml
.DS_Store
.mise.toml
Makefile
*.old

# Extensions
*.not
*.adamatti
adamatti.*
*.adamatti.*
*.log

# Nodejs
.clinic/
node_modules/
*.cpuprofile

# Terraform
.terraform/
.terragrunt-cache/